<h2> Add your own textbook! </h2>
<form method="post" action="/added-book">
    <p>Textbook Name: <input type="text" name="name"></p>
    <p>Author: <input type="text" name="author"></p>
    <p>Price: <input type="number" name="price"></p>
    <p>Version Number: <input type="number" name="version"></p>
    <p>Course Number (ex: CSEN174, ENGR1): <input type="text" name="course_num"></p>
    <p>Preferred Contact Information: <input type="text" name="contact"></p>
    <p><input type="submit"></p>
</form>