.marketplace-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .book-tile {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.book-tile:hover {
  transform: scale(1.05); /* Scale up the tile slightly */
}
  
  .book-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .book-tile h3 {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .sidebar {
    padding: 20px;
    background-color: beige;
  }

  .sidebar ul{
    margin-left: 15px;
  }
  